<h1>Your debt payoff schedule</h1>
<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Current Balance</th>
        <th>Interest Rate</th>
        <th>Minimum Payment</th>
        <th>Snowball</th>
        <th>Total Payment</th>
        <th>Payoff Date</th>
      </tr>
    </thead>
    <tbody>
  <% @accounts.each do |account| %>
  <section id= "account-<%= account.id %>">
    <tr>
        <td><%= account.name %></td>
        <td><%= number_to_currency(account.balance) %></td>
        <td><%= number_to_percentage(account.interest_rate, precision: 2) %></td>
        <td><%= number_to_currency(account.min_payment) %></td>
        <td>$400</td>
        <td>$400</td>
        <td><%= account.total_months %></td>
    </tr>
  </section>
  <% end %>
</tbody>
</table>
</div>
