<h1>Add Your Information</h1>
<section>
  <%= form_for @user, url: '/signup/profile' do |f| %>
    <div>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, required: true %>
    </div>
    <div>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, required: true %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email, required: true %>
    </div>
    <%= f.submit 'Submit' %>
  <% end %>
</section>
