<!DOCTYPE html>
<html>
  <head>
    <title>ZAB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true %>
  </head>


  <body>
    <aside>
      <%= button_to "Logout", logout_path, method: :delete if current_user %>
    </aside>
    <main>
      <div class="flash-message">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
        <% end %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
